.banner {
  height: 123px;
  margin-bottom: 16px;
}

.banner-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 10px 15px;

  background-color: rgb(255, 242, 240);
  border: 1px solid #ffccc7;
}

.container {
  width: 550px;
}

.flex-container {
  display: flex;
  justify-content: center;
}
